html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
/*设定浏览器为无边框*/

* {
    /*    去除ul的小圆点*/
    list-style: none;
    /*    去除超链接的下划线*/
    text-decoration: none;
}

input {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 19px;
    font-family: 'Verdana', 'Arial';
    color: rgba(0, 0, 0, 0.8);
}

.container {
    /*    背景*/
    width: 100%;
    height: 1080px;
    position: relative;
    background-image: url("../images/mode1.jpg");
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

/*生成边框*/

.content {
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -400px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 1;
    padding: 50px;
    box-sizing: border-box;
}

/*设置透明  将第二张图片放在边框上面*/

.content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(20px);
    z-index: -1;
    margin: -30px;
    background-image: url("../images/mode1.jpg");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}

.box {
    width: 150px;
    height: 100px;
    margin: 150px auto;
    background: rgba(0, 0, 0, 0.3);

    z-index: 2;
    /*他是用的老布局方法，你这里也得用他同样的方法*/
    /*基本上就是强行用绝对位置配合外边距来让元素居中*/
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -60px;
    text-align: center;
    line-height: 100px;

}


.box:hover {
    transition: 0.3s;
    background: yellow;
}

h1 {
    text-align: center;
}

/*这么设置可以让超链接的范围扩大到整个父级元素大小 */

.box a {
    display: block;
    width: 100%;
    height: 100%;
}
